<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>добавление</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/table.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>
<table class="table" align="center" >
    <form th:action="@{/dvd}" th:method="post" th:object="${dvd}">
        <tr>
            <th>
                параметр
            </th>
            <th>
                значение
            </th>
        </tr>
        <tr>
            <td>
                название диска
            </td>
            <td>
                <input type="text" th:field="*{title}" >
            </td>
        </tr>
        <tr>
            <td>
                дата выхода
            </td>
            <td>
                <input type="text" th:field="*{date}">
            </td>
        </tr>
        <tr>
            <td>
                mpaa_rating
            </td>
            <td>
                <input type="text" th:field="*{mpaaRating}">
            </td>
        </tr>
        <tr>
            <td>
                имя директора
            </td>
            <td>
                <input type="text" th:field="*{nameOfDirector}">
            </td>
        </tr>
        <tr>
            <td>
                студия
            </td>
            <td>
                <input type="text" th:field="*{studio}">
            </td>
        </tr>
        <tr>
            <td>
                комментарий
            </td>
            <td>
                <input type="text" th:field="*{note}">
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button class="custom-btn btn-6"><span>Добавить</span></button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>
